<h1 align="center"><%= "Category: " + @category.name %></h1>
<div align="center">
  <%= will_paginate @articles %>
</div>
<%= render 'articles/article' %>
<div align="center">
  <%= will_paginate @articles %>
</div>